{% extends 'base.html' %}
{% block title %}
Blogly Part III - 404 - Page Not Found
{% endblock %}

{% block header %}
Oops! Page Not Found
{% endblock %}


{% block messages %}
{% endblock %}

{% block content %}
<p>We couldn't find the page you were looking for.</p>
<button onclick="location.href='/'">GO BACK HOME</button>
<hr>
Here are some posts you might enjoy:
{% if posts %}
<ul>
    {% for post in posts %}
    <li>
        <a href=/posts/{{post.id}}>{{post.title}}</a>
        <br/>
        by <a href=/users/{{post.user_id}}>{{post.user.full_name}}</a>
        <br/>
        {{post.friendly_created_at}}
        {% if post.modified_on and
        ((post.modified_on - post.created_at).total_seconds()//1) > 0 %}
        <br/>
        <i>last modified {{post.friendly_modified_on}}</i>
        {% endif %}
        <br/>
        {% if post.post_tags|length > 0 and tags %}
        <small>Tags:
            {% for post_tag in post.post_tags %}
            {% for tag in tags %}
            {% if tag.id == post_tag.tag %}
            <span class="tag">{{tag.name}}</span>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </small>
        {% endif %}
    </li>
    <hr/>
    {% endfor %}
</ul>
{% endif %}
<button onclick="history.back()">GO BACK</button>
<br/><br/>
<button onclick="location.href='/tags';">GO TO TAGS</button>
<br/><br/>
<button onclick="location.href='/posts';">GO TO POSTS</button>
<br/><br/>
<button onclick="location.href='/users';">GO TO USER LIST</button>
<br/><br/>
{% endblock %}

{% block javascript %}
{{ super() }}
{% endblock %}